extends layout

block content
 h1=title
 p
    a(href="../view") View
 h2=message
 form(action="/update", method="post", role="form")
        form.form-horizontal(action="/", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="firstName") First Name
          .col-xs-12.col-sm-10
            input#firstName.form-control(name="firstName" value = #{firstName})
        .form-group
                  label.col-xs-10.col-sm-2.control-label(for="lastName") Last Name
                  .col-xs-12.col-sm-10
                    input#lastName.form-control(name="lastName" value = #{lastName})
        .form-group
                  label.col-xs-10.col-sm-2.control-label(for="department") Department
                  .col-xs-12.col-sm-10
                    input#department.form-control(name="department" value = #{department})
        .form-group
                  label.col-xs-10.col-sm-2.control-label(for="startDate") Start Date
                  .col-xs-12.col-sm-10
                    input#startDate.form-control(name="startDate" type ='date' value = #{startDate})
        .form-group
                  label.col-xs-10.col-sm-2.control-label(for="jobTitle") Job Title
                  .col-xs-12.col-sm-10
                    input#jobTitle.form-control(name="jobTitle" value = #{jobTitle})
        .form-group
                  label.col-xs-10.col-sm-2.control-label(for="salary") Salary
                  .col-xs-12.col-sm-10
                    input#salary.form-control(name="salary" value = #{salary})

        input(type="hidden" name="_id" value="#{results._id}")
        input(type="submit" value="Submit") 
